{% extends 'newusers/base.html' %}

{% block content %}

 <div class="slider">
        <div class="load">

        </div>
        <div class="content">
            <div class="principal">
                <h1 class="h1">PRODUCTION STUDIO</h1>
                <hr>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>

<div class="container-fluid">
   <div class="row">
       <div class="container col-md-10">
           <div class="card-header text-center h1">
               Projects that we have done
           </div>
           <div class="card-header">


          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

        </p>
              
              
              
     </div>
       </div>
       <div class="container col-md-2">
           <a href="admin/" class="card-link h4 text-success text-center" >Admin login</a>
           <div class="card-body">
               Our producers.
               some other info

           </div>
       </div>

   </div>

</div>
{% endblock %}