{% extends 'newusers/base.html' %}

{% block content %}

 <div class="slider">
        <div class="load">

        </div>
        <div class="content">
            <div class="principal">
                <h1>COELIB PRODUCTION STUDIO</h1>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>

<div class="container-fluid">
   <div class="row">
       <div class="container col-md-10">

       </div>
       <div class="container col-md-2">
           <a href="admin/" class="card-link" >Admin login</a>
       </div>

   </div>

</div>
{% endblock %}