{% extends 'newusers/base.html' %}

{% block title %}
    <title> Coelib Studio | Producer-Panel</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br><br><br>
<div class="container">
    <h2 class="h5 gray-text text-left mb-4">Hello {{ user.username }}  you can view latest 5 records  but still you can filter within some period:</h2>
    <form method="GET" action="{% url 'music_session' %}">

              <div class="form-row ml-4" style="margin-left:20px;">
                <div class="form-group col-md-3">
                  <label for="datefrom">Date From</label>
                  <input type="text" class="form-control" id="datefrom"  name="from" width="100" required readonly>
                </div>
                <div class="form-group col-md-3">
                  <label for="dateto">Date To</label>
                  <input type="text" class="form-control" id="dateto"  name="to" required readonly>
                </div>

                <!-- <div class="form-group col-md-3">
                  <label for="producer">Select Producer</label>
                <select class="form-control text-center" name="producerSearch" id="producer">
                    <option value="hakuna" selected> --NONE-- </option>
                  {% if Users %}
                    {% for users in Users%}

                        <option> {{users}} </option>

                    {% endfor %}
                  {% endif %}
                </select>
                </div> -->

                <div class="form-group col-md-3">
                    <!-- <label for="btn">Select Producer</label> -->
                    <input type="submit" class="btn btn-primary mt-4" id="btn"  value="Search" height="30">
                </div>

          </div>


    </form>
    
    <div class="container">

      {% if sessions_available %}
      <div class="container">
      <div class="container">
      {% if messages%}
      {% for musicmsg in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
          <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
          </button>
          {{ musicmsg }}
        </div>
      {% endfor %}
    {% endif%}
    </div>
      <table class="table table-hover table-sm">
                <thead class="thead-dark">
                  <tr>

                   
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>email</th>
                    <th>Booked as</th>
                    <th>Start</th>
                    <th>End</th>
                    
                    </tr>
                </thead>
                  <tbody>
          {% for session in sessions_available %}
          <tr>
            <!-- <td>{{dates.producer_name}}</td> -->
            <td>{{session.full_name}}</td>
            <td>{{session.phone_number}}</td>
            <td>{{session.email }}</td>
            <td>{{session.booked_as }}</td>
            <td>{{session.start_date }}</td>
            <td>{{session.end_date}}</td>
          </tr>
          {% endfor %}

                </tbody>
              </table>
          </div>
          {% else %}
          <div class="containr">
            {% if messages%}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                  <small><sup>x</sup></small>
                </button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif%}
          </div>
      {% endif %}
    </div>
</div>
{% else %}
<br> <br><br><br>
<div class="container mt-4 mb-4">

    <div class="alert alert-danger" role="alert">
      <p  class=" h5 text-center">Cannot Access page while logged out, click <a href="{% url 'producer_login'%}"> here </a> to login and continue</p>

    </div>
</div>
<br> <br><br><br>
{%endif%}
{% endblock %}
