{% extends 'newusers/base.html' %}

{% block title %}
    <title> producer login </title>

{% endblock %}

{% block content %}
<br><br>
{% if messages%}
{% for m in messages %}
  <div class="alert alert-warning alert-dismissable mt-5" role="alert">
    <button class="close" data-dismiss="alert">
      <small><sup>x</sup></small>
    </button>
    {{ m }}
  </div>
{% endfor %}
{% endif%}

<div class="row">
  <div class="container">

    <div id="producer-login-card" class="card col-md-4 offset-5 mt-5" style="margin-left: auto; margin-right:auto;">

    <div class=" crad-header mb-2">  <h4 class="text-center h3 mt-4">Login</h4>	<hr> </div>
    <form method="POST" action="{%url 'producer_login'%}">
    	{% csrf_token %}

    	<div class="form-group">
            <label>User Name</label>
    		<input type="text" class="form-control" name="username"  required>
    	</div>
    	<div class="form-group">
            <label>Password</label>
    		<input type="password" class="form-control" name="password" required>
    		<button type="submit" class="btn btn-primary mt-2 mr-auto ml-auto">
    		Login
    	</button>
    	</div>

    </form>
    </div>
  </div>
  </div>
{% endblock %}
