{% extends 'newusers/base.html' %}

{% block title %}
    <title> producer home</title>
{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
    <h2 class="h5 gray-text text-left mb-4">Hello {{ user.username }}  you can view latest 5 hired producers but still you can filter within some period:</h2>
    <form method="GET">

              <div class="form-row ml-4" style="margin-left:20px;">
                <div class="form-group col-md-3">
                  <label for="datefrom">Date of Hire</label>
                  <input type="date" class="form-control" id="datefrom"  name="from" width="100">
                </div>
                <div class="form-group col-md-3">
                  <label for="dateto">Select Producer</label>
                    <input type="date" class="form-control" id="dateto"  name="to">
                </div>
                <div class="form-group col-md-3">
                    <!-- <label for="btn">Select Producer</label> -->
                    <input type="submit" class="btn btn-primary mt-4" id="btn"  value="Search" height="30">
                </div>

          </div>


    </form>
    <div class="container">
      
      {% if fixed_dates %}
      <div class="container">
      <table class="table table-hover table-sm">
                <thead class="thead-dark">
                  <tr>

                    <th>Producer Hired</th>
                    <th>Date Hired</th>
                    <th>Time Hired</th>
                    <th>Duration</th>
                    </tr>
                </thead>
                  <tbody>
          {% for dates in fixed_dates %}
          <tr>
            <td>{{dates.producer_name}}</td>
            <td>{{ dates.hire_date }}</td>
            <td>{{ dates.hire_time }}</td>
            <td>{{dates.duration_days}} day(s)</td>
          </tr>
          {% endfor %}

                </tbody>
              </table>
          </div>
          {% else %}
          <div class="containr">
            {% if messages%}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                  <small><sup>x</sup></small>
                </button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif%}
          </div>
      {% endif %}
    </div>
</div>
{% endblock %}
