{% extends 'newusers/base.html' %}

{% block title %}
    <title>Read comments</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br><br><br>
<div class="container">
    <h2 class="h5 gray-text text-left mb-4">Hello {{ user.username }}  you can view latest 10 raised comments or conserns from here</h2>
    <!-- <form method="GET">

              <div class="form-row ml-4">
                <div class="form-group col-md-3">
                  <label for="datefrom">Date of comment</label>
                  <input type="date" class="form-control" id="datefrom"  name="from" width="100">
                </div>
                <div class="form-group col-md-3">
                  <label for="dateto">Select Producer</label>
                    <input type="date" class="form-control" id="dateto"  name="to">
                </div>
                <div class="form-group col-md-3">
                    <!-- <label for="btn">Select Producer</label>
                    <input type="submit" class="btn btn-primary mt-4" id="btn"  value="Search" height="30">
                </div>

          </div>


    </form> -->
    {% if messages%}
    {% for cmsg in messages %}
      <div class="alert alert-warning alert-dismissable" role="alert">
        <button class="close" data-dismiss="alert">
          <small><sup>x</sup></small>
        </button>
          {{ cmsg }}
      </div>
    {% endfor %}
  {% endif%}
    <div class="container">

      {% if comments %}
      <div class="container">
      <table class="table table-hover table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Comment</th>
                    <th>Date</th>
                    </tr>
                </thead>
                  <tbody>
          {% for incomment in comments %}
          <tr>
            <td>{{ incomment.name}}</td>
            <td>{{ incomment.email }}</td>
            <td>{{ incomment.comment }}</td>
            <td>{{ incomment.comment_date}}</td>
          </tr>
          {% endfor %}

                </tbody>
              </table>
          </div>
          {% else %}
          <div class="container">
            {% if messages%}
            {% for cmsg in messages %}
              <div class="alert alert-warning alert-dismissable" role="alert">
                <button class="close" data-dismiss="alert">
                  <small><sup>x</sup></small>
                </button>
                No comments currently
              </div>
            {% endfor %}
          {% endif%}
          </div>
      {% endif %}
    </div>
</div>
{% else %}
<br> <br><br><br>
<div class="container mt-4 mb-4">

    <div class="alert alert-danger" role="alert">
      <p  class=" h5 text-center">Cannot Access page while logged out, click <a href="{% url 'producer_login'%}"> here </a> to login and continue</p>

    </div>
</div>
<br> <br><br><br>
{%endif%}
{% endblock %}
