{% extends 'services/base.html' %}

{% block title %}
<title> hire producer </title>
{% endblock %}


{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="container col-md-9 card-header">
           <h1 class="h1 text-center">Hire Producers</h1>
           <hr>
            <p class="text-sm-left">Hello dear customer, we wish to appreciate the trust you have in our works for choosing to work with us, our studio offer different services you can
                <a href="{% url 'services' %}"> click here </a> to see them  an select accordingly.</p><p class="text-sm-left">At this page we allow our customers to hire the producers that we have
                in our studio to help you. If you have some complain or comments towards either of them just <a href=""> click here </a> to raise your concern, otherwise
           you can continue with hiring of our producer. Currently we have {{ count }} producer(s).<span class="text-danger">(Admin is not part of producers)</span></p><p class="text-sm-left">Check on their schedule and hire them.</p> <p class="text-sm-left">Thank you.
            </p>

           <hr>

            <!-- <form method="GET">
                  {% if messages%}
                  {% for message in messages %}
                    <div class="alert alert-warning alert-dismissable" role="alert">
                      <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                      </button>
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif%}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="dateofHire">Date of Hire</label>
                          <input type="text" class="form-control" id="dateofHire"  name="doh">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="selectProducer">Select Producer</label>
                      <select id="selectProducer" class="form-control text-center" name="available">
                            {% for users in Users%}
                              {% if users == "Admin"%}
                                <option value={{users}} class="disabled">{{users}}</option>
                              {% else %}
                                <option value={{users}}>{{users}}</option>
                              {%endif%}


                            {% endfor %}

                      </select>
                        </div>

                  </div>

                     <button class="btn btn-primary" id="check">Check</button>
            </form> -->
            <div class="container">
              List of Hired producers for this month will guide to make bookings for this month
            </div>

            {% if producers_schedule %}
            <div class="container">
            <table class="table table-hover table-striped table-sm">
                      <thead class="thead-dark">
                        <tr>

                          <th>Producer Hired</th>
                          <th>Date Hired</th>
                          <th>Time Hired</th>
                          <th>Duration</th>
                          </tr>
                      </thead>
                        <tbody>
                {% for producer in producers_schedule %}
                <tr>
                  <td>{{producer.producer_name}}</td>
                  <td>{{ producer.hire_date }}</td>
                  <td>{{ producer.hire_time }}</td>
                  <td>{{producer.duration_days}} day(s)</td>
                </tr>
                {% endfor %}

                      </tbody>
                    </table>
                </div>
                {% else %}
                <div class="containr">
                  <p>Just Book on any day that you wish</p>
                </div>
            {% endif %}

           <hr>
           <br>
         <h1 class="h3 text-center">Hire Form</h1>
         <div class="container">

            <form method="POST">
                  {% csrf_token %}

                 <div class="form-row">
                          <div class="form-group col-md-4 offset-4">
                             {{ form.as_p}}
                               <button type="submit" class="btn btn-primary ml-7" onclick="showAlert()">Hire</button>
                          </div>
                    </div>
                </form>

           <script>
               function showAlert(){
                alert('Thank for your request, you will get feedback');
               }
           </script>

     </div>
<!--
       <div class="container col-md-3">
           <div class="container">

                <div class="card-body">
                   <h3 class="text-center h3"> Notifications and Updates</h3>
                     Our producers.
                     some other info
                 </div>
           </div>
       </div> -->
   </div>
 </div>
 </div>
 {% endblock %}
