{% extends 'services/base.html' %}

{% block title %}
<title>Coelib Studio | Services </title>
{% endblock %}

{% block content %}

<div style="margin-bottom:40px;">
    <div class="container">
        <div  class="container-fluid mt-5 ">
            <p class="lead">
                Coelib Studio offers the following services to our customers, to receive our services, Feel free to contuct us and be part of our success. Music brings joy.

            </p>
        </div>

        <div class="row col-md-12 offset-1">

        <div class=" card col-md-3 mb-15 mr-2 mt-3">
            <div class="red-text text-center mt-2">
                <h3 class="font-weight-bold"> Music Production</h3>
            </div>
            <div class="card-body">
                 {% load static %}
                <img class="card-img-top" src="{% static 'images/studio-image6.jpg'%}" alt="Img">
            <p class="lead">
               We have experienced producers who will let you have booming beats for your lyrics. We have the best concerning music production
            </p>
            </div>
            <a class="btn btn-primary" href="{% url 'music_production' %}">Proceed</a>
        </div>


            <div class="col-md-3 card mb-15 mr-2 mt-3">
            <div class="red-text text-center mt-2">
                <h3 class="font-weight-bold">Studio Session</h3>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="{% static 'images/studio-image7.jpg' %}" alt="Img">
                <p class="lead">
                     Use our quality equipments by just bookin session to complete your projects with guidance and higly experienced staff.
                </p> <br>
            </div>
                 <a class="btn btn-primary" href="{% url 'studio_session' %}">Proceed</a>
        </div>


         <div class="col-md-3 card mb-15 mt-3">
            <div class="red-text text-center mt-2">
                <h3 class="font-weight-bold">Short Courses</h3>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="{% static 'images/studio-image8.jpg' %}" alt="Img">
                <p class="lead">
                   We offer short music courses practically from experienced staffs and quality instruments</p>
          
                </p> <br>
            </div>
                 <a class="btn btn-primary" href="{% url 'short_course' %}">Proceed</a>
        </div>


    </div>
</div>

    <!--owl carousel-->
    {% comment %} <div class="owl-carousel owl-theme mt-10" style="margin-top:60px;">
                        <div class="item"><h6 class="font-weight-bold text-center">Music Production</h6><a href=""><img alt="image" class="img-fluid" src="{% static 'images/studio-image6.jpg' %}"></a></div>
                        <div class="item"><h6 class="font-weight-bold text-center">Book session</h6><a href=""><img alt="image" class="img-fluid" src="{% static 'images/studio-image7.jpg' %}"></a></div>
                        <div class="item"><h6 class="font-weight-bold text-center">Hire Producers</h6><a href=""><img alt="image" class="img-fluid" src="{% static 'images/studio-image8.jpg' %}"></a></div> {% endcomment %}
                         <!--<div class="item"><h6 class="font-weight-bold text-center">Just Some Session</h6><a href=""><img alt="image" class="img-fluid" src="{% static 'images/studio-image9.jpeg' %}"></a></div>-->


                    {% comment %} </div> {% endcomment %}
    <!--end of owl-->

{% comment %} <div class="container">

</div> {% endcomment %}
</div>
{% endblock %}