{% extends 'services/base.html' %}

{% block title %}
<title> book studio session </title>
{% endblock %}


{% block content %}



<div class="container-fluid">
   <div class="row">
       <div class="container col-md-8 card-header">
               <h1 class=" h1 text-center">Book studio session</h1>
           <hr>
            <p class="text-sm-left">Hello dear customer, we wish to appreciate the trust you have in our works for choosing to work with us, our studio offer different services you can
                <a href="{% url 'services' %}"> click here </a> to see them  an select accordingly.</p> <p class="text-sm-left"> At this page we allow our customers to book sessions with our studio
           to either work on your project using our equipments or even use our staff to help you. </p><p class="text-sm-left">If you have some complain or comments towards either of them just <a href=""> click here </a> to raise your concern, otherwise
                you can continue with booking process.
            </p>
           <hr>
<h1 class="h3 text-center"> Book</h1>
           <form method="POST">
               {% csrf_token %}
               <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="name1">Last name</label>
                          <input type="text" class="form-control" id="name1" placeholder="Last Name" name="l_name">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="name2">Other Names</label>
                          <input type="password" class="form-control" id="name2" placeholder="Other Names" name="o_name">
                        </div>
                  </div>
                  <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="inputemail">Email</label>
                          <input type="email" class="form-control" id="inputemail" placeholder="Email" name="email">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputphone">Phone Number</label>
                          <input type="text" class="form-control" id="inputphone" placeholder="Phone Number" name="phone">
                        </div>
                         <div class="form-group col-md-4">
                          <label for="inputlocation">City/Location</label>
                          <input type="text" class="form-control" id="inputlocation" placeholder="city/location" name="location">
                        </div>
                  </div>

               <!--&lt;!&ndash;datepicker&ndash;&gt;-->
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
      <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
      <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
      <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
      <!--<script>-->
          <!--$( function() {-->
            <!--$( "#datepicker" ).datepicker();-->
          <!--} );
          </script>-->

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="datepicker">Start Date</label>
                      <input type="text" class="form-control" id="datepicker" name="dateinput">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Book Session As</label>
                      <select id="inputState" class="form-control">
                        <option>--NONE--</option>
                        <option>Producer</option>
                        <option>Music Artist</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="SessionPeriod">Session Period Hrs</label>
                      <input type="number" class="form-control" id="SessionPeriod">
                    </div>
                  </div>
                       <div class="form-row">
                        <div class="form-group col-md-6">
                             <label for="description">Description</label>
                            <textarea class="form-control" name="desc" id="description" cols="30" rows="3"></textarea>
                        </div>
                           </div>
                  <button type="submit" class="btn btn-primary">Book</button>
                </form>


     </div>

       <div class="container col-md-4">
           <div class="container">

                <div class="card-body">
                   <h3 class="text-center h3">
                       Notifications and Updates
                   </h3>
               Our producers.
               some other info

           </div>

           </div>


       </div>

   </div>

 </div>

 {% endblock %}